version: 3.8build{build}
clone_depth: 5
branches:
  only:
    - master
    - /\d\.\d/
    - buildbot-custom
    - appveyor-cygwin
cache:
  - externals -> PCbuild
before_build:
  - ps: |+
      if ($env:APPVEYOR_RE_BUILD) {
        echo 'Doing full build due to re-build request.'
      } elseif (!$env:APPVEYOR_PULL_REQUEST_HEAD_COMMIT) {
        echo 'Not a PR, doing full build.'
      } else {
        git fetch -q origin +refs/heads/$env:APPVEYOR_REPO_BRANCH
        $mergebase = git merge-base HEAD FETCH_HEAD
        $changes = git diff --name-only HEAD $mergebase | grep -vE '(\.rst$)|(^Doc)|(^Misc)'
        If (!$changes) {
          echo 'Only docs were updated, stopping build process.'
          Exit-AppveyorBuild
        } else {
          echo 'Doing full build due to non-doc changes in these files:'
          echo $changes
        }
      }


build_script:
- ps: |
    if ($env:PLATFORM -eq "Win32") {
        PCbuild\build.bat -e -p x64
        PCbuild\amd64\python.exe -m test.pythoninfo
    } elseif ($env:PLATFORM -eq "Cygwin64") {
        . .github\cygwin.ps1
        Cygwin cygcheck -s
        Cygwin curl -s --output apt-cyg https://raw.githubusercontent.com/transcode-open/apt-cyg/master/apt-cyg
        Cygwin chmod +x apt-cyg
        Cygwin ./apt-cyg install libcrypt-devel libffi-devel zlib-devel "2>&1"
        Cygwin ./configure
        Cygwin make -j4
        Cygwin ./python.exe -m test.pythoninfo
    }
test_script:
- ps: |
    if ($env:PLATFORM -eq "Win32") {
        PCbuild\rt.bat -x64 -q -uall -u-cpu -u-largefile -rwW --slowest --timeout=1200 --fail-env-changed -j0
    } elseif ($env:PLATFORM -eq "Cygwin64") {
        . .github\cygwin.ps1
        # For now, skip tests that are failing locally
        # Later we will want to expand this to more closely resemble hwo the
        # tests are run for Linux on Travis-CI
        Cygwin ./python.exe -E -Wd -m test -w --timeout=1200 --fail-env-changed -j0 -x test_argparse -x test_asyncio -x test_asyncore -x test_bufio -x test_c_locale_coercion -x test_concurrent_futures -x test_dbm_dumb -x test_distutils -x test_file -x test_file_eintr -x test_fileio -x test_grp -x test_httpservers -x test_import -x test_io -x test_ioctl -x test_largefile -x test_logging -x test_math -x test_memoryio -x test_mmap -x test_multiprocessing_fork -x test_multiprocessing_forkserver -x test_multiprocessing_main_handling -x test_multiprocessing_spawn -x test_os -x test_pathlib -x test_posix -x test_pwd -x test_py_compile -x test_resource -x test_selectors -x test_shutil -x test_signal -x test_socket -x test_socketserver -x test_ssl -x test_stat -x test_subprocess -x test_support -x test_tarfile -x test_tempfile -x test_univnewlines -x test_urllib -x test_utf8_mode -x test_venv -x test_zipfile
    }
environment:
  HOST_PYTHON: C:\Python36\python.exe
image:
  - Visual Studio 2017
platform:
#    - Win32
    - Cygwin64
matrix:
    fast_finish: true
    allow_failures:
        - platform: Cygwin64
