[run]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    raise AssertionError\(

    # Empty bodies in protocols or abstract methods
    ^\s*def [a-zA-Z0-9_]+\(.*\)(\s*->.*)?:\s*\.\.\.(\s*#.*)?$
    ^\s*\.\.\.(\s*#.*)?$

    .*# pragma: no cover
    .*# pragma: no branch

    # Additions for IDLE:
    .*# htest #
    if not (_htest or _utest):
    if not .*_utest:
    if .*_htest:
    
