*.cover
*.o
*.orig
*.pyc
*.pyd
*.pyo
*.rej
*~
Doc/build/
Doc/tools/docutils/
Doc/tools/jinja2/
Doc/tools/pygments/
Doc/tools/sphinx/
Lib/lib2to3/*.pickle
Makefile
Makefile.pre
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
PCbuild/*.bsc
PCbuild/*.dll
PCbuild/*.exe
PCbuild/*.exp
PCbuild/*.lib
PCbuild/*.ncb
PCbuild/*.o
PCbuild/*.pdb
PCbuild/Win32-temp-*
Parser/pgen
Parser/pgen.stamp
__pycache__
autom4te.cache
build/
config.log
config.status
libpython*.a
pybuilddir.txt
pyconfig.h
python
python-gdb.py
tags
