Doc/build/
Doc/tools/docutils/
Doc/tools/jinja2/
Doc/tools/pygments/
Doc/tools/sphinx/
Makefile
Makefile.pre
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Parser/pgen
Parser/pgen.stamp
build/
config.log
config.status
libpython3.2.a
pybuilddir.txt
pyconfig.h
python
python-gdb.py
tags
Lib/lib2to3/Grammar3.2.0.alpha.2.pickle
Lib/lib2to3/PatternGrammar3.2.0.alpha.2.pickle
autom4te.cache
