<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="tools_scripts">
            <Component Id="Tools_scripts_2to3.py" Directory="Tools_scripts" Guid="*">
                <File Id="Tools_scripts_2to3.py" Name="2to3.py" Source="!(bindpath.src)Tools\scripts\2to3" />
            </Component>
            <Component Id="Tools_scripts_pydoc3.py" Directory="Tools_scripts" Guid="*">
                <File Id="Tools_scripts_pydoc3.py" Name="pydoc3.py" Source="!(bindpath.src)Tools\scripts\pydoc3" />
            </Component>
            <Component Id="Tools_scripts_pyvenv.py" Directory="Tools_scripts" Guid="*">
                <File Id="Tools_scripts_pyvenv.py" Name="pyvenv.py" Source="!(bindpath.src)Tools\scripts\pyvenv" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
