<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define exts=_testcapi;_testlimitedcapi;_ctypes_test;_testbuffer;_testimportmultiple;_testmultiphase;_testsinglephase;_testconsole;_testinternalcapi;_testclinic;_testclinic_limited ?>
    <Fragment>
        <ComponentGroup Id="test_extensions">
            <?foreach ext in $(var.exts)?>

            <Component Id="$(var.ext).pyd" Directory="DLLs" Guid="*">
                <File Name="$(var.ext).pyd" KeyPath="yes" />
            </Component>

            <?endforeach ?>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="test_extensions_symbols">
            <?foreach ext in $(var.exts)?>

            <Component Id="$(var.ext).pdb" Directory="DLLs" Guid="*">
                <File Name="$(var.ext).pdb" />
            </Component>

            <?endforeach ?>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="test_extensions_d">
            <?foreach ext in $(var.exts)?>

            <Component Id="$(var.ext)_d.pyd" Directory="DLLs" Guid="*">
                <File Name="$(var.ext)_d.pyd" />
            </Component>
            <Component Id="$(var.ext)_d.pdb" Directory="DLLs" Guid="*">
                <File Name="$(var.ext)_d.pdb" />
            </Component>

            <?endforeach ?>
        </ComponentGroup>
    </Fragment>
</Wix>
