<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Language="!(loc.LCID)" Name="!(loc.Title)" Version="$(var.Version)" Manufacturer="!(loc.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="300" Compressed="yes" InstallScope="perUser" Platform="$(var.Platform)" />
        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
        
        <PropertyRef Id="UpgradeTable" />
        <PropertyRef Id="REGISTRYKEY" />
        
        <Feature Id="DefaultFeature" AllowAdvertise="no" Title="!(loc.Title)" Description="!(loc.Description)">
            <ComponentGroupRef Id="doc" Primary="yes" />
        </Feature>
        <Feature Id="Shortcuts" AllowAdvertise="no" Title="!(loc.Title)" Description="!(loc.Description)">
            <ComponentGroupRef Id="doc" />
            
            <?ifdef DocFilename ?>
            <Component Id="doc_shortcut" Directory="MenuDir" Guid="*">
                <RegistryValue Root="HKMU" Key="[REGISTRYKEY]\DocShortcuts" Type="integer" Value="1" KeyPath="yes" />
                <Shortcut Id="python.chm"
                          Target="[#python.chm]"
                          Name="!(loc.ShortcutName)"
                          Description="!(loc.ShortcutDescription)" />
                <RemoveFolder Id="Remove_MenuDir" On="uninstall" />
            </Component>
            <?endif ?>

        </Feature>
    </Product>
</Wix>
