<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <PropertyRef Id="REGISTRYKEY" />
        
        <ComponentGroup Id="doc">
            <Component Id="python.chm" Directory="Doc" Guid="*">
                <File Id="python.chm" Name="$(var.DocFilename)" KeyPath="yes" />
                <RegistryKey Root="HKMU" Key="[REGISTRYKEY]">
                    <RegistryValue Key="Help\Main Python Documentation" Type="string" Value="[#python.chm]" />
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
