<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <?if $(var.Platform)~=x64 ?>
        <?define vcruntime140Guid={B33258FD-750C-3B42-8BE4-535B48E97DB4}?>
        <?else ?>
        <?define vcruntime140Guid={E8E39D3B-4F35-36D8-B892-4B28336FE041}?>
        <?endif ?>
        <ComponentGroup Id="crt_files">
            <Component Id="vcruntime140.dll_LM" Directory="SystemInstallDirectory" Guid="$(var.vcruntime140Guid)" Shared="yes" SharedDllRefCount="yes">
                <Condition>ALLUSERS=1</Condition>
                <File Id="vcruntime140.dll_LM" Source="!(bindpath.crt)\vcruntime140.dll" />
            </Component>
            <Component Id="vcruntime140.dll_CU" Directory="InstallDirectory" Guid="*">
                <Condition>NOT ALLUSERS=1</Condition>
                <File Id="vcruntime140.dll_CU" Source="!(bindpath.crt)\vcruntime140.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
