<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Language="!(loc.LCID)" Name="!(loc.Title)" Version="$(var.Version)" Manufacturer="!(loc.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" />
        
        <PropertyRef Id="UpgradeTable" />
        <Property Id="Suppress_TARGETDIR_Check" Value="1" />
        
        <Feature Id="DefaultFeature" AllowAdvertise="no" Title="!(loc.Title)" Description="!(loc.Description)">
            <ComponentRef Id="Registration" />
        </Feature>
        
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="ProgramDataFolder" Name="ProgramData">
                <Directory Id="PackageCache" Name="Package Cache">
                    <Directory Id="BundleDir" Name="{$(var.CoreUpgradeCode)}v$(var.Version)" />
                </Directory>
            </Directory>
        </DirectoryRef>
        
        <Component Id="Registration" Directory="BundleDir" Guid="{6D8B9C68-0CCB-4AF2-934C-C790053C1208}">
          <CopyFile Id="BundleExe" SourceProperty="BUNDLEEXE" DestinationProperty="BundleDir" DestinationName="install.exe" />
          <RemoveFile Id="Remove_BundleExe" Name="*" On="uninstall" />
          <RemoveFolder Id="Remove_BundleDir" On="uninstall" />
        </Component>
    </Product>
</Wix>

