<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>9519C22B-6AB8-41A1-94F6-079E0B45C147</string>
			<string>------------------------------------</string>
			<string>B545BB1B-A8E1-426C-B50A-426E78B96D38</string>
			<string>6EF151E5-7149-4F82-8796-0CC40FE589FA</string>
			<string>------------------------------------</string>
			<string>BF336FFF-E14D-4BF1-A156-71CF768AC034</string>
			<string>FD25A8DC-22DC-4ED4-B222-B943C8A9117D</string>
			<string>EDBB037F-AAE3-4512-863F-D9AA82C9E51E</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Python-Dev</string>
	<key>ordering</key>
	<array>
		<string>B545BB1B-A8E1-426C-B50A-426E78B96D38</string>
		<string>6EF151E5-7149-4F82-8796-0CC40FE589FA</string>
		<string>FD25A8DC-22DC-4ED4-B222-B943C8A9117D</string>
		<string>BF336FFF-E14D-4BF1-A156-71CF768AC034</string>
	</array>
	<key>uuid</key>
	<string>A932ECD1-D43A-4F57-B7FB-A1CEC3B65D20</string>
</dict>
</plist>
