<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="dev_pyconfig">
            <Component Id="include_pyconfig.h" Directory="include" Guid="*">
                <File Id="include_pyconfig.h" Name="pyconfig.h" Source="!(bindpath.src)PC\pyconfig.h" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="dev_libs">
            <Component Id="libs_python3.lib" Directory="libs" Guid="*">
                <File Id="libs_python_stable.lib" Name="python$(var.MajorVersionNumber).lib" KeyPath="yes" />
            </Component>
            <Component Id="libs_python.lib" Directory="libs" Guid="*">
                <File Id="libs_python.lib" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber).lib" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="dev_libs_d">
            <Component Id="libs_python3_d.lib" Directory="libs" Guid="*">
                <File Id="libs_python_stable_d.lib" Name="python$(var.MajorVersionNumber)_d.lib" />
            </Component>
            <Component Id="libs_python_d.lib" Directory="libs" Guid="*">
                <File Id="libs_python_d.lib" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber)_d.lib" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <?ifdef IncludeMinGWLib ?>
    <Fragment>
        <ComponentGroup Id="dev_mingw">
            <Component Id="libs_libpython.a" Directory="libs" Guid="*">
                <File Id="libs_libpython.a" Name="libpython$(var.MajorVersionNumber)$(var.MinorVersionNumber).a" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <?endif ?>
</Wix>
