// Resource script for Python core DLL.
// Currently only holds version information.
//
#include "ver.h"
#include "winver.h"

#define MS_WINDOWS
#include "modsupport.h"
#include "patchlevel.h"

#define MS_DLL_ID "1.5.2"

#define PYTHON_VERSION MS_DLL_ID "." PYTHON_API_STRING "\0"

#ifndef PYTHON_DLL_NAME
#define PYTHON_DLL_NAME "Python15.dll"
#endif

// String Tables
STRINGTABLE DISCARDABLE
BEGIN
	1000,	MS_DLL_ID
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Corporation for National Research Initatives\0"
            VALUE "FileDescription", "Python Core\0"
            VALUE "FileVersion", PYTHON_VERSION
            VALUE "InternalName", "Python DLL\0"
            VALUE "LegalCopyright", "Copyright © 1991-1995 Stichting Mathematisch Centrum, Amsterdam\0"
            VALUE "OriginalFilename", PYTHON_DLL_NAME "\0"
            VALUE "ProductName", "Python\0"
            VALUE "ProductVersion", PYTHON_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
