<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <PackageGroup Id="crt">
            <PackageGroupRef Id="crt_14.0_v6.0" />
            <PackageGroupRef Id="crt_14.0_v6.1" />
            <PackageGroupRef Id="crt_14.0_v6.2" />
            <PackageGroupRef Id="crt_14.0_v6.3" />
        </PackageGroup>
    </Fragment>

    <?foreach ver in v6.0;v6.1;v6.2;v6.3 ?>
    <?if "$(var.ver)" = "v6.0" ?>
    <?define msuver=6.0 ?>
    <?elseif "$(var.ver)" = "v6.1" ?>
    <?define msuver=6.1 ?>
    <?elseif "$(var.ver)" = "v6.2" ?>
    <?define msuver=8-RT ?>
    <?elseif "$(var.ver)" = "v6.3" ?>
    <?define msuver=8.1 ?>
    <?else ?>
    <?error unknown version $(var.ver) ?>
    <?endif ?>

    <Fragment>
        <PackageGroup Id="crt_14.0_$(var.ver)">
            <MsuPackage Id="crt_14.0_$(var.ver)_x86"
                        KB="2999226"
                        SourceFile="!(bindpath.redist)\Windows$(var.msuver)-KB2999226-x86.msu"
                        DisplayName="!(loc.CRTDescription)"
                        Description="!(loc.CRTDescription)"
                        Compressed="$(var.CompressMSI)"
                        DownloadUrl="$(var.DownloadUrl)"
                        InstallCondition="not CRTInstalled and VersionNT = $(var.ver) and not VersionNT64 and (Include_core or Include_exe or Include_launcher or Include_pip) and not LauncherOnly" />

            <MsuPackage Id="crt_14.0_$(var.ver)_x64"
                        KB="2999226"
                        SourceFile="!(bindpath.redist)\Windows$(var.msuver)-KB2999226-x64.msu"
                        DisplayName="!(loc.CRTDescription)"
                        Description="!(loc.CRTDescription)"
                        Compressed="$(var.CompressMSI)"
                        DownloadUrl="$(var.DownloadUrl)"
                        InstallCondition="not CRTInstalled and VersionNT64 = $(var.ver) and (Include_core or Include_exe or Include_launcher or Include_pip) and not LauncherOnly" />
        </PackageGroup>
    </Fragment>

    <?undef msuver ?>
    <?endforeach ?>
</Wix>