<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <PackageGroup Id="crt">
            <MsiPackage Id="ucrt_AllUsers"
                        SourceFile="ucrt.msi"
                        Compressed="no"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="yes"
                        InstallCondition="InstallAllUsers and not CRTInstalled and (Include_core or Include_exe or Include_pip) and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
            </MsiPackage>
            <MsiPackage Id="ucrt_JustForMe"
                        SourceFile="ucrt.msi"
                        Compressed="no"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="no"
                        InstallCondition="not InstallAllUsers and not CRTInstalled and (Include_core or Include_exe or Include_pip) and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
            </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>