<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <PackageGroup Id="freethreaded">
            <MsiPackage Id="freethreaded_AllUsers"
                        SourceFile="freethreaded.msi"
                        Compressed="no"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="yes"
                        InstallCondition="InstallAllUsers and (Include_freethreaded) and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
            <MsiPackage Id="freethreaded_AllUsers_pdb"
                        SourceFile="freethreaded_pdb.msi"
                        Compressed="no"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="yes"
                        InstallCondition="InstallAllUsers and (Include_freethreaded) and Include_symbols and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
            <MsiPackage Id="freethreaded_AllUsers_d"
                        SourceFile="freethreaded_d.msi"
                        Compressed="no"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="yes"
                        InstallCondition="InstallAllUsers and (Include_freethreaded) and Include_debug and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>

            <MsiPackage Id="freethreaded_JustForMe"
                        SourceFile="freethreaded.msi"
                        Compressed="no"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="no"
                        InstallCondition="not InstallAllUsers and (Include_freethreaded) and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
            <MsiPackage Id="freethreaded_JustForMe_pdb"
                        SourceFile="freethreaded_pdb.msi"
                        Compressed="no"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="no"
                        InstallCondition="not InstallAllUsers and (Include_freethreaded) and Include_symbols and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
            <MsiPackage Id="freethreaded_JustForMe_d"
                        SourceFile="freethreaded_d.msi"
                        Compressed="no"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="no"
                        InstallCondition="not InstallAllUsers and (Include_freethreaded) and Include_debug and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>