<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <PackageGroup Id="launcher">
            <!-- The All Users launcher is always the 32-bit version -->
            <MsiPackage Id="launcher_AllUsers"
                        SourceFile="!(bindpath.build32)en-us\launcher.msi"
                        Compressed="$(var.CompressMSI)"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="yes"
                        EnableFeatureSelection="yes"
                        Permanent="yes"
                        Visible="yes"
                        InstallCondition="(InstallAllUsers or InstallLauncherAllUsers) and Include_launcher and not DetectedLauncher">
                <?if $(var.Platform)~="ARM64" ?>
                <MsiProperty Name="ARM64_SHELLEXT" Value="1" />
                <?endif ?>
            </MsiPackage>

            <MsiPackage Id="launcher_JustForMe"
                        SourceFile="!(bindpath.build32)en-us\launcher.msi"
                        Compressed="$(var.CompressMSI)"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="no"
                        EnableFeatureSelection="yes"
                        Permanent="yes"
                        Visible="yes"
                        InstallCondition="not (InstallAllUsers or InstallLauncherAllUsers) and Include_launcher and not DetectedLauncher">
                <?if $(var.Platform)~="ARM64" ?>
                <MsiProperty Name="ARM64_SHELLEXT" Value="1" />
                <?endif ?>
            </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>