<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <PackageGroup Id="tcltk">
            <MsiPackage Id="tcltk_AllUsers"
                        SourceFile="tcltk.msi"
                        Compressed="$(var.CompressMSI)"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="yes"
                        EnableFeatureSelection="yes"
                        InstallCondition="InstallAllUsers and Include_tcltk and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
            <MsiPackage Id="tcltk_AllUsers_pdb"
                        SourceFile="tcltk_pdb.msi"
                        Compressed="$(var.CompressPDB)"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="yes"
                        EnableFeatureSelection="yes"
                        InstallCondition="InstallAllUsers and Include_tcltk and Include_symbols and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
            <MsiPackage Id="tcltk_AllUsers_d"
                        SourceFile="tcltk_d.msi"
                        Compressed="$(var.CompressMSI_D)"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="yes"
                        EnableFeatureSelection="yes"
                        InstallCondition="InstallAllUsers and Include_tcltk and Include_debug and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>

            <MsiPackage Id="tcltk_JustForMe"
                        SourceFile="tcltk.msi"
                        Compressed="$(var.CompressMSI)"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="no"
                        EnableFeatureSelection="yes"
                        InstallCondition="not InstallAllUsers and Include_tcltk and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
            <MsiPackage Id="tcltk_JustForMe_pdb"
                        SourceFile="tcltk_pdb.msi"
                        Compressed="$(var.CompressPDB)"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="no"
                        EnableFeatureSelection="yes"
                        InstallCondition="not InstallAllUsers and Include_tcltk and Include_symbols and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
            <MsiPackage Id="tcltk_JustForMe_d"
                        SourceFile="tcltk_d.msi"
                        Compressed="$(var.CompressMSI_D)"
                        DownloadUrl="$(var.DownloadUrl)"
                        ForcePerMachine="no"
                        EnableFeatureSelection="yes"
                        InstallCondition="not InstallAllUsers and Include_tcltk and Include_debug and not LauncherOnly">
                <MsiProperty Name="TARGETDIR" Value="[TargetDir]" />
                <MsiProperty Name="OPTIONALFEATURESREGISTRYKEY" Value="[OptionalFeaturesRegistryKey]" />
            </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>