<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1</string>
	<string>2</string>
	<string>3</string>
	<string>4</string>
	<string>some_string</string>
</array>
</plist>
