# Requirements file for external linters and checks we run on
# Tools/clinic, Tools/cases_generator/, and Tools/peg_generator/ in CI
mypy==1.7.1

# needed for peg_generator:
types-psutil==5.9.5.17
types-setuptools==68.2.0.0
