<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="tkinter_extension">
            <Component Id="_tkinter.pyd" Directory="DLLs" Guid="*">
                <File Name="_tkinter.pyd" KeyPath="yes" />
            </Component>
        </ComponentGroup>
        <ComponentGroup Id="tcltk_dlls">
            <Component Id="_tkinter.lib" Directory="libs" Guid="*">
                <File Name="_tkinter.lib" KeyPath="yes" />
            </Component>
            <Component Id="tcl86t.dll" Directory="DLLs" Guid="*">
                <File Name="tcl86t.dll" KeyPath="yes" />
            </Component>
            <Component Id="tk86t.dll" Directory="DLLs" Guid="*">
                <File Name="tk86t.dll" KeyPath="yes" />
            </Component>
            <Component Id="zlib1.dll" Directory="DLLs" Guid="*">
                <File Name="zlib1.dll" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="tkinter_extension_symbols">
            <Component Id="_tkinter.pdb" Directory="DLLs" Guid="*">
                <File Name="_tkinter.pdb" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="tkinter_extension_d">
            <Component Id="_tkinter_d.pyd" Directory="DLLs" Guid="*">
                <File Name="_tkinter_d.pyd" />
            </Component>
            <Component Id="_tkinter_d.lib" Directory="DLLs" Guid="*">
                <File Name="_tkinter_d.lib" />
            </Component>
            <Component Id="_tkinter_d.pdb" Directory="DLLs" Guid="*">
                <File Name="_tkinter_d.pdb" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
