<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PythonSource.icns</string>
			<key>CFBundleTypeName</key>
			<string>Python Module</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PythonIDE</string>
	<key>CFBundleGetInfoString</key>
	<string>2.4alpha1, (c) 2004 Python Software Foundation.</string>
	<key>CFBundleHelpBookFolder</key>
	<array>
		<string>PythonDocumentation</string>
	</array>
	<key>CFBundleHelpBookName</key>
	<string>Python Help</string>
	<key>CFBundleHelpTOCFile</key>
	<string>index.html</string>
	<key>CFBundleIconFile</key>
	<string>PythonIDE.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.python.pythonide</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>2.4alpha1, (c) 2004 Python Software Foundation.</string>
	<key>CFBundleName</key>
	<string>PythonIDE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4alpha1</string>
	<key>CFBundleSignature</key>
	<string>Pide</string>
	<key>CFBundleVersion</key>
	<string>2.4alpha1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>(c) 2004 Python Software Foundation.</string>
</dict>
</plist>
