<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">

  <Identity Name="PythonInlineRunner" 
            Version="1.0.1.0" 
            Publisher="CN=Contoso Software (FOR LAB USE ONLY), O=Contoso Corporation, C=US" 
            ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Python Inline Runner</DisplayName>
    <PublisherDisplayName>Contoso Software</PublisherDisplayName>
    <Description>A custom Python entry point that can execute inline scripts and package as MSIX for Windows.</Description>
    <Logo>Assets\logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="PythonInlineRunner" Executable="python_inline.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Python Inline Runner" 
                          Description="Execute Python scripts inline"
                          BackgroundColor="#306998"
                          Square150x150Logo="Assets\logo.png" 
                          Square44x44Logo="Assets\logo.png">
        <uap:DefaultTile/>
      </uap:VisualElements>
      
      <Extensions>
        <!-- Console Application Extension -->
        <uap3:Extension Category="windows.appExecutionAlias">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="python-inline.exe" />
            <desktop:ExecutionAlias Alias="pyinline.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>