name: Tail calling interpreter
on:
  pull_request:
    paths:
      - '.github/workflows/tail-call.yml'
      - 'Python/bytecodes.c'
      - 'Python/ceval.c'
      - 'Python/ceval_macros.h'
      - 'Python/generated_cases.c.h'
  push:
    paths:
      - '.github/workflows/tail-call.yml'
      - 'Python/bytecodes.c'
      - 'Python/ceval.c'
      - 'Python/ceval_macros.h'
      - 'Python/generated_cases.c.h'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  tail-call:
    name: ${{ matrix.target }}
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-pc-windows-msvc/msvc
          - x86_64-pc-windows-msvc/msvc-free-threading
          - x86_64-apple-darwin/clang
          - aarch64-apple-darwin/clang
          - x86_64-unknown-linux-gnu/gcc
          - x86_64-unknown-linux-gnu/gcc-free-threading
          - aarch64-unknown-linux-gnu/gcc
        llvm:
          - 20
        include:
          - target: x86_64-pc-windows-msvc/msvc
            architecture: x64
            runner: windows-2025-vs2026
            build_flags: ""
            run_tests: true
          - target: x86_64-pc-windows-msvc/msvc-free-threading
            architecture: x64
            runner: windows-2025-vs2026
            build_flags: --disable-gil
            run_tests: false
          - target: x86_64-apple-darwin/clang
            architecture: x86_64
            runner: macos-15-intel
          - target: aarch64-apple-darwin/clang
            architecture: aarch64
            runner: macos-14
          - target: x86_64-unknown-linux-gnu/gcc
            architecture: x86_64
            runner: ubuntu-24.04
            configure_flags: --with-pydebug
          - target: x86_64-unknown-linux-gnu/gcc-free-threading
            architecture: x86_64
            runner: ubuntu-24.04
            configure_flags: --disable-gil
          - target: aarch64-unknown-linux-gnu/gcc
            architecture: aarch64
            runner: ubuntu-24.04-arm
            configure_flags: --with-pydebug
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Native Windows MSVC (release)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          $env:PlatformToolset = "v145"
          ./PCbuild/build.bat --tail-call-interp ${{ matrix.build_flags }} -c Release -p ${{ matrix.architecture }}
          if ("${{ matrix.run_tests }}" -eq "true") {
            ./PCbuild/rt.bat -p ${{ matrix.architecture }} -q --multiprocess 0 --timeout 4500 --verbose2 --verbose3
          }

      - name: Native macOS (release)
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install llvm@${{ matrix.llvm }}
          export SDKROOT="$(xcrun --show-sdk-path)"
          export PATH="/usr/local/opt/llvm@${{ matrix.llvm }}/bin:$PATH"
          export PATH="/opt/homebrew/opt/llvm@${{ matrix.llvm }}/bin:$PATH"
          CC=clang-${{ matrix.llvm }} ./configure --with-tail-call-interp
          make all --jobs 4
          ./python.exe -m test --multiprocess 0 --timeout 4500 --verbose2 --verbose3

      - name: Native Linux
        if: runner.os == 'Linux'
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)" ./llvm.sh ${{ matrix.llvm }}
          export PATH="$(llvm-config-${{ matrix.llvm }} --bindir):$PATH"
          CC=clang-${{ matrix.llvm }} ./configure --with-tail-call-interp ${{ matrix.configure_flags }}
          make all --jobs 4
          ./python -m test --multiprocess 0 --timeout 4500 --verbose2 --verbose3
