<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="core_dll">
            <Component Id="python_stable.dll" Directory="InstallDirectory" Guid="*">
                <File Id="python_stable.dll" Name="python$(var.MajorVersionNumber).dll" KeyPath="yes" />
            </Component>
            <Component Id="python.dll" Directory="InstallDirectory" Guid="*">
                <File Id="python.dll" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber).dll" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="core_symbols">
            <Component Id="python.pdb" Directory="InstallDirectory" Guid="*">
                <File Id="python.pdb" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber).pdb" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="core_dll_d">
            <Component Id="python_stable_d.dll" Directory="InstallDirectory" Guid="*">
                <File Id="python_stable_d.dll" Name="python$(var.MajorVersionNumber)_d.dll" KeyPath="yes" />
            </Component>
            <Component Id="python_d.dll" Directory="InstallDirectory" Guid="*">
                <File Id="python_d.dll" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber)_d.dll" KeyPath="yes" />
                <File Id="python_d.pdb" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber)_d.pdb" KeyPath="no" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
